body {
   font-family: open-sans, poppins, sans-serif;
   font-optical-sizing: auto;
   font-style: normal;
   margin: 0px;
   font-size: 16px;
}

.header-nav {
   height: 108px;

}

header img {
   height: 108px;
}

.bars {
   margin-top: 40px;
   position: absolute;
   text-align: left;
   font-size: 30px;
}

.header-nav .grid-con {
   display:block;
   padding: 0;
}

h1 {
   font-size: 2.125em;
   font-family: open-sans, sans-serif;
font-weight: 800;
font-style: normal;
}

h2 {
   font-size: 1.75em;
   font-family: open-sans, sans-serif;
font-weight: 700;
font-style: normal;
}

h3 {
   font-size: 1.25em;
   font-family: open-sans, sans-serif;
font-weight: 700;
font-style: normal;
}

p {
   font-size: 1em;
   font-family: poppins, sans-serif;
font-weight: 600;
font-style: normal;
}

.logo-tablet {
   display: none;
}

header {
   text-align: center;
   font-size: 20px;
   color: black;
   position: sticky;
   top: 0;
   z-index: 500;
   display: block;
   height: 108px;
   background-color: #F2F240;
}

.hidden {
   display: none;
}

#nav-btn {
   display: none;
   margin-top: 50px;
   position: absolute;

}

.fa-bars {
   display: block;
   
}

.checkbtn {
   font-size: 30px;
   float: right;
   margin-right: 20px;
   line-height: 80px;
   cursor: pointer;
   z-index: 5000;
   margin-top: 40px;
}

#nav-btn ul{
   position: absolute;
   left: 0;
   margin-top: 108px;
}

#nav-btn:checked ~ ul{
   position: absolute;
   left: 0;
   margin-top: 108px;
}

.top-nav {
   font-family: open-sans, sans-serif;
font-weight: 700;
font-style: normal;
   margin-top: auto;
   display: block;
   left: 120%;
   transition: all .5s ease-in-out;
   padding: 40px 0;
   background-color: rgb(255, 255, 255);
   position: fixed;
   width: 100%;
   height: 944px;
   z-index: 500;
   margin-top: 108px;
   text-transform: uppercase;
}

.top-nav li {
   list-style: none;
   margin-bottom: 40px;
   text-align: center;
}

#about {
   margin-top: 40px;
}

a {
   text-decoration: none;
   color: black;

}



/* Index */
.banner{
text-align: center;
}

.product_card{
   background-image: url(../images/product_card_dot.svg);
   background-repeat: no-repeat;
   width: 499px;
   height: 602px;
   margin-left: 2em;
   margin-top: 7em;
   transition: transform 0.5s ease;
}

.product_card:hover {
    transform: rotate(360deg); 
}

.product_card img{
   padding-left: 3em;
   padding-top: 6em;
   height: 451px;
}

.product_card h2{
   color: #FCF7EF;
 text-align: center;
 margin-top: -10em;
 font-size: 38px;
 margin-left: 1em;
}

.product_card p{
   font-family: poppins, sans-serif;
font-style: normal;
   height: 290px;
   width: 206px;
   margin-left: 9em;
   font-size: 26px;
   margin-top: 2em;
}

.find-me-btn {
   width: 283px;
   height: 78px;
   border-radius: 41px;
   font-size: 38px;
   background-color: #C0338D;
   color: white;
   margin-top: 0.125em;
   margin-left: 3em;
   cursor: pointer;
}

.index_facts{
   margin-top: 2em;

}

.index_facts h2{
   text-align: center;
   color: #FCF7EF;
   font-size: 50px;
}

.fact-box{
   width: 485px;
   height: 455px;
   border-radius: 40px;
}

.fact-box img{
   width: 97px;
   margin: 10px;
}

.fact-box p{
   font-family: open-sans, sans-serif;
font-weight: 700;
font-style: normal;
   font-size: 2em;
   text-transform: uppercase;
   margin-left: 100px;
   margin-top: -110px;
}

.index-page {
   background-color: #BCC632;
}

.gallery-carousel{
   padding: 6em 0em;
   background-image: url(../images/product_card_dot.svg);
   background-repeat: no-repeat;
  background-size:448px;
  background-position: center ;
}

.gallery-carousel img{
   border-radius: 20px;
}

.gallery-spacing{
   margin-right: 1.5em;
}

/* contact */

.contact-page {
   background: url(../images/fruit-background2.jpg);
}

.contact-form {
   background-color: #BCC632;
   width: 100%;
   margin-bottom: 2.56em;
   border-radius: 30px;
   margin-top: 2.18em;
}

input, textarea {
   border: solid grey 1px;
   border-radius: 18px;
}

.submit {
   background-color: #C0338D;
}

.send input {
   margin-bottom: 40px;
   color: white;
}

 /* Footer */

.tablet-footer {
   display: none;
}

 .footer-container {
    background-color: #F2F240;
 }

 .social-icon {
    width: 37.16px;
 }

/* .foooter-1 {
   margin-top: 0.5625su;
} */

footer {
   width: 100%;
   background-color: #F2F240;
}

 .footer-nav li {
   width: 100%;
   display: inline;
 }

.social-nav {
   margin: 0 auto;
   padding: 0;
   margin-top: 30px;
   margin-bottom: 40px;
}

.social-nav li {
   display: inline;

}

.social-nav img {
   height: 33.59px;

}

 .footer-nav {
   font-size: 1em;
   font-family: open-sans, sans-serif;
font-weight: 700;
font-style: normal;
   margin: 0 auto;
   margin-top: 20px;
   padding: 0;
 }

 .quatro_footer_4  {
   display: none;
 }

 /* Stories */

 picture img {
   width: 100%;
 }

.stories-header {
   text-align: center;
}

.local-stories {
   background-color: #C0338D;
   border-radius: 32px;
}

.local-stories div {
   overflow: hidden;
   min-height: 214px;
   max-height: 500px;
   margin: 31px;

}

.stories-img img {
   width: 100%;
}

.local-stories span{
   text-decoration: underline;
   cursor: pointer;   
}

 article {
   border-radius: 13px;
   margin: 31px;
   background-color: white;
 }

 h3 {
   padding-left: 20px;
 }

 article p {
   font-size: 1em;
   padding: 26px 20px 26px 20px;
 }

 .article-2 {
   background-color: #BCC632;
   margin-top: 1.3125em;
   margin-bottom: 3.3125em;
 }

  /* Contact */


label {
    display: block;
}

  h1 {
    text-align: left;
 }

 input {
    width: 100%;
 }

ul li{
    list-style-type: none;
    text-align: left;
    margin-top: 28px;
    margin-left: 5px;
    
 }



 input, textarea {
   width: 98%;
    height: 44px;
 }

 textarea {
    max-height: 200px;
 }
 
 input[type=submit] {
    margin-top: 29px;
    height: 44px;
    width: 100%;
 }

 .send {
    margin-top: 0px;
 }


 /* ---tablet Sized Screens--- */
 @media screen and (min-width: 768px) {
  
   h1 {
      font-size: 3em;
   }



  /* header */

   .logo {
      display: none;
   }

   .logo-tablet {
      display: inline;
   }

   .bars {
      display: none;
   }

   .header-nav .grid-con {
      display:grid;
  }

  .top-nav {
   display: flex;
   margin-top: 10px;
   justify-content: space-between;
   transform: translateY(60%);
   left: 0%;
   transition: none;
   padding: 0;
   position:unset;
   width: 100%;
   height: 60px;
   margin: 0 auto;
   background-color: #F2F240;
  }
  .top-nav li {
   display: inline;
  }



  /* Stories */
  
  .stories-header {
   margin-top: 1.875em;
   margin-bottom: 1.875em;
  }

  .local-stories {
   display:flex;
  }

   .local-stories div {
      width: 239px;
   }

   article {
      width: 60%;
   }

   .footer-sub {
      background-color: #F59623;
      height: 108px;
   }

   .footer-sub input {
      font-size: 1.5em;
      margin-top: 1em;
      height: 64px;
      border-radius: 28px;
   }

   .subscribe {
      position: relative;
      width: 179px;
      right: 120px;
      background-color: #C0338D;
      color: white;
      cursor: pointer;
   }

   /* Popup Modal Styles */
.modal {
   display: none; /* Hide the modal by default */
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.5); /* Semi-transparent background */
 }
 
 .modal-content {
   background-color:#F59623;
   margin: 15% auto;
   padding: 20px;
   border-radius: 20px;
   width: 60%;
   height: 40%;
 }

 .modal-content p{
   padding: 0.5em;
   color: #FCF7EF;
   font-size: 48px;
   text-align: center;

 }

 .modal-content h2{
   text-align: center;
   margin-top: 1em;
   margin-bottom: 1em;
   text-transform: uppercase;
   font-size: 40px;
   color: #000000;
 }
 
 .close {
   color: #000000;
   float: right;
   font-size: 28px;
   font-weight: bold;
 }
 
 .close:hover,
 .close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}


   /* contact */



   
.medium-banner {
   background-color: grey;
   height: 254.07px;
   width: 100%;
}

   input  {
      height: 32px;
   }

   input, textarea {
      width: 100%;
    }

 h1 {
      text-align: center;
      
   }

.send input {
   height: 40.22px;
}


.input-large {
   height: 85.68px;
}

ul li {
   margin-left: 0px;
}

.contact-form {
   height: 638px;
}

.medium-banner {
   height: 404px;
}

input {
   border-radius: 11px;
}


/* footer */

.footer-nav {
   border-left: #C0338D solid 3px;
   padding-left: 2.025em;
   height: 10.0625em;
}

.find-us {
   height: 71px;
   width: 203px;
   background-color: #C0338D;
   font-size: 2em;
   color: white;
   margin-top: 57px;
   border-radius: 0.5em;
   margin-left: 1em;
}

.tablet-footer {
   display: block;
}

.mobile-footer {
   margin-top: 0;
   display: none;
}

.footer-nav a {
   font-size: 1.25em;
   margin-bottom: 0.5em;
   display: block;
}

.social-nav li{
   display: block;
}

.mobile-footer ul li a{
   display: block;
}

.social-nav {
   margin-top: 0;
}


.social-icon {
   margin-top: 1.53125em;
   margin-bottom: 15px;
}

.social-icon li {
   width: 40px;
   margin-bottom: 20.5px;
   height: 40px;
   margin-top: 0px;
}

.quatro_footer_4{
   width: 133px;
   margin-top: 1em;
   margin-left: 1em;
}

.quatro_footer_4  {
   display:unset;
 }

 }


 
 /* ---desktop Sized Screens--- */
 @media screen and (min-width: 1200px) { 

   h1 {
      font-size: 4em;
   }

  .mobile-hide{
    display: grid;
  }

  .hero-image{
    height: 720px;
}

  .product-section, .main-text{
    height: 640px;
}

  .company-images div{
    height: 370px;
}
.footer-container div{
    height: 210px;
}

/* Stories */ 



.local-stories div {
   width: 373px;
}


/* Contact */ 

.contact-form {
   height: 638px;
}

.medium-banner {
   height: 404px;
}

input {
   border-radius: 11px;
}


/* footer */

.footer-nav {
   border-left: #C0338D solid 3px;
   padding-left: 2.025em;
   height: 10.0625em;
}

.find-us {
   height: 97px;
   width: 280px;
   background-color: #C0338D;
   font-size: 3em;
   color: white;
   margin-top: 57px;
}

.tablet-footer {
   display: block;
}

.mobile-footer {
   margin-top: 0;
   display: none;
}

.footer-nav a {
   font-size: 1.25em;
   margin-bottom: 0.5em;
   display: block;
}

.social-nav li{
   display: block;
}

.mobile-footer ul li a{
   display: block;
}

.social-nav {
   margin-top: 0;
}


.social-icon {
   margin-top: 1.53125em;
   margin-bottom: 15px;
}

.social-icon li {
   width: 40px;
   margin-bottom: 20.5px;
   height: 40px;
   margin-top: 0px;
}

 }

